.live-course-item{
    background: #fff;
    padding: 16px;
    .live-course-item-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .live-course-item-image{
              img{
                max-width: 55px;;
              }
        }
        .live-course-info{
            text-align: center;
            margin-top: 10px;
            .live-course-info-title{
               font-size: 20px;
               font-weight: 700;
               line-height: 22px;
            }
            .live-course-info-description{
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }
}



@media(max-width :767px){
    .live-course-item{
        padding: 16px;
        .live-course-item-wrapper{
            .live-course-item-image{
                  img{
                    max-width: 30px;;
                  }
            }
            .live-course-info{
                .live-course-info-title{
                   font-size: 14px;
                   font-weight: 600;
                   color: rgb(71 84 103);
                }
                .live-course-info-description{
                    display: none;
                }
            }
        }
    }
}