.live-course{
    margin: 90px 0;
    padding: 0 24px;
    .live-course-container{
        max-width: 1150px;
        margin: auto;
        .live-course-wrapper{
            .live-course-top{
                text-align: center;
                h1{
                    font-size: 36px;
                    font-weight: 700;
                    
                }
            }
            .live-course-bottom{
                background: #fff;
                padding: 20px;
                .live-course-bottom-container{
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    gap: 2px;
                    background: #ededed;
                }
            }
            
        }
    }
}


@media(max-width :1023px){
    .live-course{
        margin: 70px 0;
        .live-course-container{
            max-width: 689px;
            .live-course-wrapper{
                .live-course-bottom{
                    .live-course-bottom-container{
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }
                }
            }
        }
    }
}

@media(max-width :767px){
    .live-course{
        margin: 30px 0;
        .live-course-container{
            max-width: 500px;
            .live-course-wrapper{
                 .live-course-top{
                    h1{
                        font-size: 26px;
                    }
                 }
                .live-course-bottom{
                    background: #F9F9FA;
                    padding: 0;
                    .live-course-bottom-container{
                        gap: 4px;
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }
                }
            }
        }
    }
}

@media(max-width :639px){
    .live-course{
        margin: 0;
        padding: 0 16px;
        .live-course-container{
            max-width: 100%;
            /* padding: 16px; */
            .live-course-wrapper{
                 .live-course-top{
                    h1{
                        font-size: 26px;
                    }
                 }
                .live-course-bottom{
                    background: #F9F9FA;
                    padding: 0;
                    .live-course-bottom-container{
                        gap: 4px;
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }
                }
            }
        }
    }
}