.webinar-item{
    padding: 20px;
    background: #FFFFFF;
    border-radius: 7px;
    border: 1px solid;
    &:hover{
        border: 1px solid #FFC000;
    }
    .webinar-item-wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        .webinar-item-image{
            margin-bottom: 16px;
            img{
                max-width: 100%;
                border-radius: 7px;
                margin-bottom: 16px;
            }
            .title-small{
                font-size: 12px;
                word-spacing: 2px;
                line-height: 16px;
            }
        }
        .webinar-item-info{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
             .webinar-item-title{
                 font-size: 20px;
                 font-weight: 700;
                 color: #000000;
                 line-height: 130%;
                 letter-spacing: 0.32px;
                 word-spacing: 2px;
                 margin-bottom: 20px;
             }

             .webinar-time-desc{
                .date-list{
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;
                    margin-bottom: 16px;
                    svg{
                        color: #FF8C4B;
                    }
                    span{
                       
                        font-size: 14px;
                        letter-spacing: 0.32px;
                        color: #FF8C4B;
                        font-weight: 600;
                    }
                }
                button{
                    text-align: center;
                    width: 100%;
                    outline: none;
                    border: 1px solid #FFC000;
                    padding: 5px 0 8px;
                    font-size: 14px;
                    border-radius: 5px;
                    background: #fff;
                    font-weight: 600;
                    &:hover{
                        background: #FFE699;
                    }
                }
             }
        }
    }
}


@media(max-width : 767px){
    .webinar-item{
        padding: 12px;
        .webinar-item-wrapper{
            .webinar-item-info{
                .webinar-item-title{
                    font-size: 14px;
                    font-weight: 500;
                }
                .webinar-time-desc{
                    .date-list{
                        svg{
                            font-size: 20px;
                        }
                        span{
                            font-size: 12px;
                        }
                    }
                    button{
                        background: #fff9e6;
                    }
                }
            }
        }
    }
}